<div class="card" style="width: 18rem;">
    <img src="<%= tecnologia.img %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= tecnologia.name %></h5>
      <p class="card-text"><%= tecnologia.descripcion %></p>
    </div>
  </div>