.contenedor {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
}

.items {
    width: 30%;
    padding: 20px;
    background-color: #007bff;
    color: #f8f9fa;
    text-align: center;
    border: 1px solid red;
}

/* justifiy-content: space-between -> para que me de espacios entre las cajas */